header{
    nav {
        padding: 1em;

        ul {
          display: flex;
          list-style: none;
          margin: auto;
        }
      }
      
      ul li {
        font-family: $fuente-subtitulo;
        font-size: 34px;
        display: flex;
        margin-top: 5px;
        margin: auto;
        padding: 1em;
      }
}
.cafecito-animacion :hover {
    animation: 2.5s balanceo 1;
  }
  
  @keyframes balanceo {
    20% {
      transform: scale(0.9) rotate(-15deg);
    }
  
    30%, 50%, 70%, 90% {
      transform: scale(1.2) rotate(15deg);
    }
  
    40%, 60%, 70% {
      transform: scale(0.9) rotate(-15deg);
    }
  }