@mixin sizebtn ($h, $w) {
    height: $h;
    width: $w;
}
.registroForm {
    width: 700px;
    background-color: #53454038;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    font-family: $fuente-form;
    color: rgb(8, 8, 8);
}
.formulario-info {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    background: #5345400a;
    border: 1px solid #53454056;
    font-family: $fuente-form;
    font-size: 20px;
    color: black;
}
.botonRegister {
    @include sizebtn (40px, 100%);
    background-color: #F0D5B8;
    border: none;
    margin-bottom: 10px;
    font-family: $fuente-subtitulo;
    font-size: 30px;
    color: $colorPrimario;
    
}

.botonLimpiar {
    @include sizebtn (25px, 100%);
    background-color: #F0D5B8;
    border: none;
    font-family: $fuente-subtitulo;
    font-size: 20px;
    color: $colorSecundario;
}
@media screen and (max-width: 800px) {
    .registroForm{
        width: fit-content;
        margin: 1em 1em 1em 1em;
    }
    .formulario-info{
        padding: 5px;
        margin-bottom: 10px;
    }
    
}
