/* #tituloPagina{
    font-family: $fuente-titulo;
    font-size: $tamañoTitulo;
    color: $colorPrimario;
    text-align: center;
    padding-top: 40px;
}

#subtituloChico{
    font-family: $fuente-subtitulo;
    font-size: $tamañoSubChico;
    color: $colorSecundario;
    text-align: center;
}
#subtituloGrande{
    font-family: $fuente-subtitulo;
    font-size: $tamañoSubtitlo;
    color: $colorPrimario;
    text-align: center;
    margin-bottom: 20px;
} */