*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: $colorSecundario;
    outline: none;
    text-decoration: none;
    background-image: linear-gradient(#E0C8AE, #935A46);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover, &:focus {
    background-size: 100% 4px;
    }
}

body{
    background-color: #F0D5B8;
    position: relative;
    padding-bottom: 3em;
}
#tituloPagina{
    font-family: $fuente-titulo;
    font-size: $tamañoTitulo;
    color: $colorPrimario;
    text-align: center;
    padding-top: 40px;
}

#subtituloChico{
    font-family: $fuente-subtitulo;
    font-size: $tamañoSubChico;
    color: $colorSecundario;
    text-align: center;
}
#subtituloGrande{
    font-family: $fuente-subtitulo;
    font-size: $tamañoSubtitlo;
    color: $colorPrimario;
    text-align: center;
    margin-bottom: 20px;
}
.fotoCafe img{
    margin: auto;
    display: block;
    width: 400px;
    height: 500x;
}