/* colores */
$colorPrimario:  #935A46;

$colorSecundario: #534540;

/* fuentes */

$fuente-titulo: 'Milonga', cursive;
$fuente-subtitulo:'Courgette', cursive;

/* tamaños */

$tamañoTitulo: 70px;
$tamañoSubtitlo: 30px;
$tamañoSubChico: 25px;

